In [18]:
# Data Preprocessing Template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :3].values
y = dataset.iloc[:, -1].values


# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [19]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [20]:
X

array([['France', 44, 72000],
       ['Spain', 27, 48000],
       ['Germany', 30, 54000],
       ['Spain', 38, 61000],
       ['France', 35, 58000],
       ['France', 48, 79000],
       ['Germany', 50, 83000],
       ['France', 37, 67000]], dtype=object)

In [3]:
dataset

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4   France   35   58000       Yes
5   France   48   79000       Yes
6  Germany   50   83000        No
7   France   37   67000       Yes

In [2]:
X_train

array([['Spain', 27, 48000],
       ['France', 37, 67000],
       ['Spain', 38, 61000],
       ['France', 44, 72000],
       ['France', 48, 79000],
       ['France', 35, 58000]], dtype=object)

In [7]:
X_test

array([['Germany', 50, 83000],
       ['Germany', 30, 54000]], dtype=object)